

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.content {
  margin: 20px auto;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.container{
  text-align: center;
  color: black;
  background-color: #fff;
  width: 100%;
  height: auto;
}

.preview {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: inline;
}

.baku {
  width: 100% auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: auto;
  display: inline;
  text-align: left;
  position: relative;
}
