

*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  margin: 20px auto;
  width: 100%;
}

h1 {
  font-size: 20px;
  padding: 20px
}

.container{
  text-align: center;
  color: black;
  background-color: #dadada;
  width: 100%;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight:lighter;
}

.preview {
  width: 100%;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  text-transform:capitalize;
  font-family: serif;
  display: inline-block;
}



.baku{
  background-image: url("images/baku2.png");
  height: 260px;
  width: 100% auto;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px auto;
}

.london {
  background-image: url("images/london2.png");
   height: 260px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: contain;
}

.madrid {
  background-image: url("images/madrid2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 260px;
}

.rome {
  background-image: url("images/rome2.png");
  height: 260px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 575px){
.preview {
    width: 50%;
    float:  left;
    background-color: #dadada;
  }
}

@media screen and (min-width: 991px){
.preview {
    width: 25%;
    float:  left;
    background-color: #dadada;
  }
}
