*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #dadada;
  font-size: 10px;
}
  body{
    background-color:#fff;
  }
}
.content {
  margin: 20px auto;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.container{
  text-align: center;
  color: black;
  background-color: #fff;
  width: 100%;
  height: auto;
}

.img-baku {
  width: 100% auto;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: inline;
}

}
.text-baku {
  text-align: left;
  padding-top: 30px;
  padding-left: 50px;
  position: fixed;
}

.img-london {
  width: 100% auto;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  display: inline;
}
.text-london {
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  position: fixed;
}

.img-madrid{
  width: 375px auto;
  margin-left: auto;
  margin-right: auto;
  height: 150px auto;
  display: inline;
}

.text-madrid{
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  position: fixed;
}

.img-rome{
  width: 100% auto;
  margin-left: auto;
  magin-right: auto;
  height: auto;
  display: inline;
}

.text-rome{
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  position: fixed;
}
